$cream: #f6ebda;
$white: #ffff;
$grey: #908d88;
$orange: orange;
$brown: #2f2105;
$yellow: #f4ae26;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  .highlight {
    width: 100%;
    background-color: $cream;
    margin-top: 130px;
    height: 390px;
    padding: 30px 160px;
    background-image: url(./Iassets/cons/transparent-coffe.svg);
    background-size: auto;
    display: flex;
    .highs {
      border-radius: 10px;
      height: 440px;
      border: 5px solid $white;
      margin-top: -140px;
    }
    .text {
      padding: 30px 180px;
      h1 {
        margin-bottom: 30px;
        span {
          border-bottom: 5px solid $orange;
        }
      }
      h2 {
        font-weight: 600;
        margin-bottom: 20px;
      }
      p {
        color: $grey;
        margin-bottom: 30px;
      }
      a {
        padding: 9px 14px;
        background-color: $brown;
        text-decoration: none;
        color: $yellow;
        border-radius: 20px;
      }
    }
    .bg {
      background-size: contain;
    }
  }
  .menu-container {
    padding: 80px 160px;
    .card-container {
      display: flex;

      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 40px;
      gap: 20px 0;
      .card {
        width: 300px;
        height: 320px;
        background-color: $white;
        padding: 20px 20px 10px 20px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        .image {
          position: relative;
          .product {
            width: 100%;
            border-radius: 8px;
          }
          p {
            position: absolute;
            background-color: $white;
            left: 10px;
            top: 5px;
            padding: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            border: 5px solid transparent;
            border-radius: 30px;
            width: 80px;
            gap: 5px;
          }
        }
        .card-title {
          display: flex;
          justify-content: space-between;
          margin-top: 6px;
        }
        .card-desc {
          display: flex;
          margin-top: 10px;

          p {
            color: $grey;
            width: 90%;
          }
          .ai-cart {
            padding: 5px 10px;
            color: $white;
            background-color: $orange;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 10%;
          }
        }
      }
    }
    span {
      border-bottom: 5px solid $orange;
    }
  }
}
